name: CI - Reliability Platform

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          cd services/sample_app
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run basic import test
        run: |
          cd services/sample_app
          python - <<EOF
          from app.main import app
          print("App import successful")
          EOF

      - name: Build Docker image
        run: |
          docker build -t failing-service ./services/sample_app
